<label for="">Server Name</label>

<!-- <input
type="text"
class='form-control'
(input)='onUpdateServerName($event)'
> -->

<input
type="text"
class='form-control'
[(ngModel)]='serverName'
>
<p>{{serverName}}</p>
<button
class='btn btn-primary'
[disabled]='!allowNewServer'
(click)='onCreateServer()'
>
Add Server
</button>
<!-- <p >{{createServerStatus}}</p> -->
<p *ngIf="serverStatus">Server was created, server Name is {{ serverName }}</p>
<app-server *ngFor='let server of servers'></app-server>

<button class="btn btn-primary" (click)='onSetPassword()'>Display Details</button>
<p *ngIf="passwordIsFalse; else secretPassword">JS-Ninja</p>
<ng-template #secretPassword>
  <p>What is your Password?</p>
</ng-template>
<p [ngStyle]='{backgroundColor: onColorChange()}' [ngClass]="{color: onColorChange}" *ngFor='let password of clickList'>{{password}}</p>



<!-- <input
type="text"
class='form-control'
[(ngModel)]='userName'
>
<p>{{userName}}</p>
<button
class='btn btn-primary'
(click)='onCreateUserState()'
(click)='onResetUser()'

>
Set User
</button>
<p>{{createUser}}</p> -->

